/* Added by Rand - moved from custom-cai.css */
div.highlighter-rouge {
	background-color: #f6f8fa; 
  padding: 5px 10px;
}

.comment { font-style: italic;}

.manifest-object { 
  display: inline-block; 
  background-color: #e6f2ff; 
  padding: 5px; 
  border: 1px solid #024384; 
  width: fit-content; 
  border-radius: 10px; 
  font-size: 90%;
}

/* Table styling */

table.manifest-ref-table {
	border: 1px solid #E1E1E1;
	margin: 0 0 20px 0;
	border-collapse: collapse;
}

th.manifest-ref-table, td.manifest-ref-table {
	border: 1px solid #ccc;
	padding: 10px;
	font-size: .9em;
	text-align: left;
}

th.manifest-ref-table {
	background: #e6e6e6;
}

.top-scroll-btn {
	float: right;
	margin-right: 50px;
  border: 1px solid #ddd;
  background-color: #ccc; /* Set a background color */
  color: black; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 10px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 12px; /* Increase font size */
}

.top-scroll-btn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
	color: white;
}
