---
layout: null
sitemap: false
---

.config-table {font-size: 90%; }
.config-table th:nth-child(2) { width: 120px; }
.config-table th:nth-child(3) { width: 250px; }

$brand-colour: #f1f2f3;

$nav-header-height: 60px;
$nav-background-color: #f5f5f5;
$nav-width: 270px;
/* Must match left-margin of .main class in _main.scss */

$space: 20px;

$mobile-break: 700px;

@import "mixins";
@import "main";
/* @import "borland"; /
/* @import "monaki"; */

/* TOC stuff */

div#toc {
    background-color: whitesmoke;
    border-radius: 5px;
    color: gray;
    min-width: 200px;
    display: inline-block;
    position: relative;
    padding: 10px;
    margin-bottom: 15px;
}

div#toc .toc-title {
    color: #555;
    display: inline-block;
    font-weight: 500;
    padding:5px;
    padding-left:15px;
}

div#toc .toc-expand-button {
    position: absolute;
    padding: 5px 8px;
    margin: 5px;
    right: 0;
    top: 0;
}

div#toc ul {
    padding: 5px;
}

div#toc > ul {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
}

div#toc ul li {
    margin: 8px 0px 0px 22px;
    font-size: 90%;
    list-style: square;
}

div#toc ul li ul {
    padding-left:8px;
}

div#toc ul li ul li::before {
    content: "–  ";
}

div#toc ul li ul li {
    list-style-type: none;
    margin: 5px 0px 0px 0px;
}

/* New Sidebar */

div.sidebarTitle {
    color: #015CAE;
}

li.sidebarTitle {
    margin-top:40px;
    font-weight:normal;
    font-size:130%;
    color: #ED1951;
    margin-bottom:10px;
    margin-left: 5px;
}

/* Sidebar Tree Nav */

.sidebar h6 {
	line-height: 1em;
	font-size: 1.7rem;
	letter-spacing: 1px;
	color: #888;
	font-weight: bold;
}

.sidebar {
	padding-left: .3em;
	white-space: nowrap;
	overflow-y: auto;
}

section {
		padding: 10px 0;
}

#sidebar, #sidebar_tut {
  padding-top: 0;
}

#sidebar-list {
  display:block;
}

#sidebar-list ul {
  list-style: none;
  margin-left: .1em;
}

ul#sidebar-list {
  list-style: none;
  padding-left: 10px;
}
/*
ul#sidebar-list li {
  margin-left: -10px;
} */

#sidebar-list li {
  margin-top: .2em;
  line-height: 1.1em;
  font-size: 95%;
}

#sidebar-list li a {
  font-size: 90%;
}

#sidebar-list li > a{
    display: block;
}

#sidebar-list .page-link{
  padding: 3px 5px;
  border-radius: 5px;
  margin-left: .1em;
}

#sidebar-list .leaf-node>.page-link::before{
  content: "▪";
  float:left;
  /* width:1em; */
  margin-left:-1em;
}

#sidebar-list .show-hide{
  float:left;
  width:.8em;
  padding-left:.3em;
}

.tree-parent.expanded .nav-list .tree-parent {
  margin-left: -13px;
  color: red;
}

#sidebar-list li.active a.show-hide,
#sidebar-list a.show-hide:hover,
#sidebar-list a.show-hide:active{
  background:none;
  border:none;
  text-decoration: none;
}

#sidebar-list li.active>a.page-link,
#sidebar-list a.page-link:hover{
  background: lightblue;
  text-decoration: none;
}

#sidebar-list a.show-hide::before{
  content: "+";
}
#sidebar-list .expanded>a.show-hide::before{
  content: "-";
}

.top-leaf {
  margin-left: 10px;
}

ul.nav-list {
  padding-left: 1.7em;
}

.table-header {
  color: #808080;
  margin-bottom: 0;
}

h2 code, h3 code, h4 code {
  color: #157d9d;
  font-size: 120%;
}

#site-title {
  padding: 10px;
}

div.highlighter-rouge {
	background-color: #232323 !important; 
}

table.conversion td {
  padding: 0 10px;
  vertical-align: top;
}

table.conversion td ol {
  padding: 0 15px;
}

.footnotes {
  border: 1px solid #aaa;
  padding: 10px;
  margin: 10px;
  background-color: #eee;
  font-size: 90%;
}

#sidebar-btns {
  margin: 5px;
}

.navToggle {
  display: none !important;
}
.expand {
  width: 100%;
  margin-left: 3px;
  margin-right: 10px;
}
#tg-sb-link:hover, #tg-sb-link:active, #tg-sb-link {
  text-decoration: none !important;
}

.showhide-link {
    border: 1px solid #ddd;
    background-color: #f2f2f2;
    border-radius: 3px;
    padding: 10px;
}
/*
.syntax_tbl1 > thead.tableFloatingHeaderOriginal > tr > th:first-child {
  width: 8em;
}
*/
.syntax_tbl > thead.tableFloatingHeaderOriginal > tr > th:first-child,
.syntax_tbl > thead.tableFloatingHeader > tr > th:first-child
{
  width: 12em;
}

#top-scroll-btn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 60px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  opacity: 0.7;
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 10px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 16px; /* Increase font size */
}

#top-scroll-btn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

.tutorial-sidebar-title {
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
  color: #157d9d;
}

#full-nav-link {
  margin-left: 20px;
  font-weight: bold;
  font-size: 16px;
}

#sidebar_tut ul ul {
  padding-left: 10px;
}

.blue-btn {
  background-color: #0057ff;
  color: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 15px;
  height: auto;
  line-height: 1.2em;
  padding: 6px 10px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  font-size: 90%;
}

.comment {
	font-style: italic;
	background-color: #ffff80;
  padding: 3px;
}

.interns {
  font-weight: bold;
  margin-top: 5px;
}

/* Pop up warning used for certain pages */

#popup {
  position: fixed;
  top: 150px;
  left: 30%;
  width: 600px;
/*  display: inline-block;*/
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 99;
}

#popup .popuptext {
  background-color: rgba(204, 0, 0, 0.85);
  color: #fff;
  font-size: 24px;
  text-align: left;
  border-radius: 6px;
  padding: 12px;
  z-index: 99;
}

blockquote p {
  font-style: italic;
  font-size: 90%;
}

.faq-header {
  text-align: center;
  font-weight: bold;
  color: #4d4d4d;
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #f2f2f2;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.tags {
  padding: 10px;
  color: #4d4d4d;
  border: 1px solid #ddd;
  background-color: #f2f2f2;
}

.right-nav {
  float: right;
  border: 1px solid #ddd;
  background-color: #f2f2f2;
  border-radius: 4px;
  padding: 10px;
  margin-left: 10px;
}

.faq-info {
  font-size: 8px;
  width: 80px;
  border: 1px solid #aaa;
  border-radius: 4px;
  background: #eee;
  padding: 6px;
  float: right;
}

/* For manifest reference */

.manifest-object { 
  display: inline-block; 
  background-color: #e6f2ff; 
  padding: 2px 5px; 
  border: 1px solid #024384; 
  width: fit-content; 
  border-radius: 10px; 
  font-size: 90%;
}
