<!-- {% comment %} include.prop_info is the full property object {% endcomment %} -->

{% assign obj = include.prop_info %}

{% comment %} <!-- 
<em>
prop_info = {{obj | inspect }} <br/>
type = {{obj.type }} <br/>
items = {{obj.items | inspect }} <br/>
</em>
 --> {% endcomment %}

{% if obj.anyOf %}
  Any of: 
  {% include array-of-objs.html a=obj.anyOf %} 

<!-- {% comment %} 
This assumes the 'allOf' property is a single-element array containing 
an object like {"$ref"=>"#/definitions/xyz"}. 
{% endcomment %} -->
{% elsif obj.allOf %}
  {% assign object_ref = obj.allOf[0]['$ref'] %}
  A {% include ref-to-link.html ref=object_ref %} object.

<!-- obj.type is an array of possible types-->
{% elsif obj.type.first %} 
  Either
  {% for x in obj.type %}
    {% if x=="array" %} 
      an array of 
      {% assign ref = obj.items['$ref'] %}

      {% if ref %}
        {% include ref-to-link.html ref=ref %}
      {% else %}
        {%if obj.items.type %} 
          {{obj.items.type}} 
        
        {%else%} 
        {{obj.items|inspect}}

        {%endif%} 
      {% endif %}

    {% else %}
      {{x|capitalize}} <!-- {% comment %} Assumes that the type is not another array or object {% endcomment %} -->

    {% endif %}
    {% unless forloop.last %} or {% endunless %}
  {% endfor %}

{% else %} <!-- {% comment %}  obj.type is NOT an array of possible types so it's a simple type {% endcomment %}  -->

  {% if obj.type=="array" %}
    {% include simple-type.html obj=obj %}

  {% else %}
    {% include simple-type.html obj=obj %}
  {% endif %}

{% endif %}
