<!-- {% comment %} include.prop_info is the full property object {% endcomment %} -->

{% assign obj = include.prop_info %}

{% if obj.anyOf %}
  {% include array-of-objs.html a=obj.anyOf %}
<!-- {% comment %} ...Need to find if one of the anyOf array elements is "type": "null"
This assumes the 'allOf' property is a single-element array containing 
an object like {"$ref"=>"#/definitions/xyz"}. 
{% endcomment %} -->

{% elsif obj.allOf %}
  {% assign object_ref = obj.allOf[0]['$ref'] %}
  {% include ref-to-link.html ref=object_ref %}

<!-- obj.type is an array of possible types-->
{% elsif obj.type.first %} 
  <!-- Either -->
  {% for x in obj.type %}
    {% if x=="array" %} 
      Array of 
      {% assign ref = obj.items['$ref'] %}

      {% if ref %}
        {% include ref-to-link.html ref=ref %}
      {% else %}
        {%if obj.items.type %} 
          {{obj.items.type}} 
        
        {%else%} 
        {{obj.items|inspect}}

        {%endif%} 
      {% endif %}

    {% else %}
      {% unless x=="null" %}
        {{x|capitalize}} <!-- {% comment %} Assumes that the type is not another array or object {% endcomment %} -->
      {% endunless %}

    {% endif %}
    <!-- {% unless forloop.last %} or {% endunless %} -->
  {% endfor %}

{% else %} <!-- {% comment %}  obj.type is NOT an array of possible types so it's a simple type {% endcomment %}  -->

  {% if obj.type=="array" %}
    {% include simple-type.html obj=obj %}

  {% else %}
    {% include simple-type.html obj=obj %}
  {% endif %}

{% endif %}
