<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" >
		<title>{{ page.title }} - {{site.site_title}}</title>
		<link rel="shortcut icon" type="image/png" href="{{site.url}}/images/favicon.png">
		<link rel="stylesheet" href="{{site.url}}/css/custom-cai.css">
		<link rel="stylesheet" href="{{site.url}}/css/table.css">
		<script src="{{site.url}}/js/cai-customscripts.js"></script>
	</head>

	<body>
  	{{ content }}
  	</body>
</html>
