<!DOCTYPE html>
<html lang="en">
{% if page.redirect_url %}
	{% assign redirect_url = page.redirect_url %}
{% else %}
	{% assign redirect_url = page.url | prepend: "https://git.corp.adobe.com/pages/adobesensei/training-framework" %}
{% endif %}
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" >
		<title>{{ page.title }} - {{site.site_title}}</title>
		<link rel="stylesheet" href="{{site.url}}/css/style.css">
		<link rel="shortcut icon" type="image/png" href="{{site.url}}/images/favicon.ico">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script>
setTimeout(function() {
	document.location="{{redirect_url}}";
}, 2000);
</script>
</head>
<body>
		<div id="main-div" class="main">
			<section class="doc-content">
				<section class="left-docs">
					<div class="topic-title">{{ page.title }} </div>

{% include redirect-notice.html %}

				</section>
			</section>
		</div>
  </body>
</html>
